<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @developer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @developer.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @developer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @developer.email %>
</p>

<h4>Related Projects</h4>
<% @developer.projects.each do |project| %>
    <li><%= link_to project.name, project_path(project) %></li>
<% end %>
<h4>Related Works</h4>
<% @developer.works.each do |work| %>
    <li><%= link_to work.name, project_path(work) %></li>
<% end %>

<div class="uk-grid">
  <div class="uk-width-8-10 uk-push-1-10">
    <div class="uk-button-group">
      <%= link_to 'Edit', edit_developer_path(@developer), class: 'uk-button uk-button-small uk-button-primary' %>
      <%= link_to 'Back', developers_path, class: 'uk-button uk-button-small' %>
    </div>
  </div>
</div>

<div class="uk-grid">
  <div class="uk-width-4-6 uk-push-1-6">
    <h4 class="uk-text-primary">Comments</h4>
    <%= render partial: 'comments/form', locals: {commentable: @developer} %>
    <%= render partial: 'comments/list', locals: {commentable: @developer} %>
  </div>
</div>

