<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @developer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @developer.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @developer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @developer.email %>
</p>

<%= link_to 'Edit', edit_developer_path(@developer) %> |
<%= link_to 'Back', developers_path %>
