<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<div class="uk-grid">
  <div class="uk-width-8-10 uk-push-1-10">
    <div class="uk-button-group">
      <%= link_to 'Edit', edit_client_path(@client), class: 'uk-button uk-button-small uk-button-primary' %>
      <%= link_to 'Back', developers_path, class: 'uk-button uk-button-small' %>
    </div>
  </div>
</div>

<div class="uk-grid">
  <div class="uk-width-4-6 uk-push-1-6">
    <h4 class="uk-text-primary">Comments</h4>
    <%= render partial: 'comments/form', locals: {commentable: @client} %>
    <%= render partial: 'comments/list', locals: {commentable: @client} %>
  </div>
</div>