<%= form_for project, html: { class:'uk-form' } do |f| %>
    <% if project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
            <% project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field uk-form-row">
      <h4><%= f.label :name %></h4>
      <%= f.text_field :name, class: 'uk-width-1-1' %>
    </div>

    <div class="field uk-form-row">
      <h4><%= f.label :url %></h4>
      <%= f.text_field :url, class: 'uk-width-1-1' %>
    </div>

    <div class="field uk-form-row">
      <h4><%= f.label :kind, 'Kind of projects' %></h4>
      <%= f.text_field :kind, class: 'uk-width-1-1' %>
    </div>

    <div class="field uk-form-row">
      <h4><%= f.label :client_id, 'Choose Client' %></h4>
      <%= f.select :client_id, Client.all.collect {|x| [x.full_name, x.id]}, {} %>
    </div>

    <div class="actions">
      <%= f.submit class: 'uk-button uk-button-success' %>
    </div>
<% end %>

