<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @project.url %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @project.kind %>
</p>

<%= render partial: 'comments/list', locals: {commentable: @project} %>
<%= render partial: 'comments/form', locals: {commentable: @project} %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
